body {
  font-size: 90%;
  font-family: sans-serif;
  min-height: auto;
}

form {
  width: 50%;
  margin: 50px auto;
  padding: 20px 20px;
  background-color: #f5f5f5;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
}

label:first-child {
  margin-top: 0;
}

label {
  display: block;
  margin-top: 1em;
  margin-bottom: 0.5em;
}

input[type="text"], input[type="password"] {
  width: 95%;
  padding: 8px;
  background-color: white;
  border: 1px solid #cccccc;
  border-radius: 5px;
}

input[type="submit"] {
  display: block;
  width: 80px;
  margin-top: 20px;
  padding: 8px;
  color: #333333;
  background-color: white;
  border: 1px solid #cccccc;
  border-radius: 5px;
}

/* Добавьте ваш код под комментарием */
#fullname {
    background-color: #fcf8e3;
}
#year {
    width: 100px;
}
