*{
    margin: 0;
}
.static-positioning {
    position: static;
    background-color: #667eea;
    color: white;
    width: 200px;
    height: 200px;
    left: 20%;
    /*margin-bottom: 50px;*/
}

.relative-positioning {
     position: relative;
    background-color: #764ba2;
    color: white;
    width: 200px;
    height: 200px;
    left: 20%;
    top: 20px;
    margin-bottom: 50px;
    z-index: 1;
}

.relative-positioning2 {
     position: relative;
    background-color: #f30707;
    color: white;
    width: 200px;
    height: 200px;
    left: 20%;
    top: -200px;
    margin-bottom: 50px;
    z-index: 1;
}
.absolute-positioning {
    width: 200px;
    height: 200px;
    background-color: yellow;
    color:black;
    position: absolute;
    top:0px;
    right:0px;
}

.container2 {
    width: 100%;
    height: 400px;
    background-color:#2a000e;
    position: relative;
    margin-bottom: 50px;
}